header{ 
    background-color: #eae9af;
    margin: auto;
}

header h1{
    text-align: center;
    color: #684f2b;
    padding: 10px;
 }

 #menu{ 
    background-color: #9d771e;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

 }
 #menu li{
        float: left;
  }


 #menu li a{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color:#fffdf5;
    transition: 0.5s;
  }

  #menu li a:hover{ 
    transition: 0.5s;
    background-color: #d49e7d;
    color: #ffffff;

  }

  body{
    background-color: #583617;
  }

  article{
        background-color: #d4c77d;
        text-align: justify;
        margin: auto;
  }

  ol{
    padding: 0px;
    margin: 35px;
}

    ol li{
        border-bottom: 1px solid #584017;
}

img{
    width: 100%;
}

h2, p{
    margin-left: 20px;
    margin-right: 35px;
}

section{
    text-align: center;
    padding: 10px;
}

#btt{
    text-decoration: #583f17;
    background-color: #583b17;
    color: #ffffff;
    border-radius: 5px;
    padding: 7px;
    transition: 0.5s;
}

#btt:hover{ 
    transition: 0.5s;
    background-color: #ed893d;
}

footer{
    text-align: center;
    background-color: #fff9b7;
    margin:auto;
    padding: 10px 0px 5px 0px;
}

header, article, footer{
    width: 50%;
}



