header{ 
    background-color: #ddafea;
    margin: auto;
}

header h1{
    text-align: center;
    color: #682b64;
    padding: 10px;
 }

 #menu{ 
    background-color: #821e9d;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;

 }
 #menu li{
        float: left;
  }


 #menu li a{
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    color:#fffdf5;
    transition: 0.5s;
  }

  #menu li a:hover{ 
    transition: 0.5s;
    background-color: #d47dc7;
    color: #ffffff;

  }

  body{
    background-color: #7e4783;
  }

  article{
        background-color: #c87dd4;
        text-align: justify;
        margin: auto;
  }

  ol{
    padding: 0px;
    margin: 35px;
}

    ol li{
        border-bottom: 1px solid #581744;
}

img{
    width: 100%;
}

h2, p{
    margin-left: 20px;
    margin-right: 35px;
}

section{
    text-align: center;
    padding: 10px;
}

#btt{
    text-decoration: #4d1758;
    background-color: #581749;
    color: #ffffff;
    border-radius: 5px;
    padding: 7px;
    transition: 0.5s;
}

#btt:hover{ 
    transition: 0.5s;
    background-color: #ed3dea;
}

footer{
    text-align: center;
    background-color: #ffb7f1;
    margin:auto;
    padding: 10px 0px 5px 0px;
}

header, article, footer{
    width: 50%;
}



